$table-color: #222222;

.main-header {
  text-align: center;
}


.page-container {
  margin: 10px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

table.table-block {
  width: 100%;
}

table.table-bordered {
  border: 1px solid $table-color;
  &> thead > tr > th,
  &> tbody > tr > th,
  &> tfoot > tr > th,
  &> thead > tr > td,
  &> tbody > tr > td,
  &> tfoot > tr > td {
    border: 1px solid $table-color;
  }

  td, th {
    padding: 3px;
  }
}



.page-row {
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  background: url("/img/background.png") repeat-y;
  background-size: 100% auto;
}

select.form-control {
  background: transparent;
}