.items-table {
  .th-name {
    width: 80%;
  }

  .th-amount {
    width: 10%;
  }

  .th-price {
    width: 10%;
  }
}

.modal-row {
  margin: 5px;

  .modal-row-label {
    vertical-align: center;
  }
}