table.items-table {
  td {
    &.icon {
      text-align: center;
    }

    &.number {
      text-align: right;
    }
  }

  .icon {
    cursor: pointer;
  }
}

table.available-items {
  th {
    &.price {
      width: 10%;
    }

    &.available {
      width: 10%;
    }

    &.add {
      width: 5%;
    }

    &.selected-amount {
      width: 5%;
    }
  }
}

table.selected-items {
  th {
    &.price {
      width: 10%;
    }

    &.amount {
      width: 5%;
    }

    &.plus,
    &.minus {
      width: 5%;
    }
  }
}
